<h1>Olá {{user.name}} seja bem-vindo à página</h1>
{{#if approved}}
<p>Parabéns você foi cadastrado!</p>
{{else}}
<p>Deu ruim! Dados incorretos</p>
{{/if}}
{{#if auth}}
<p>
    Você está autenticado,  <a href="./peixe">clique aqui</a> para acessar 
    área de hóspedes.
</p>

{{/if}}
